.random-pokemon-container {
  border-right: 2px solid #de3519;
  flex-grow: 1;
}

.random-pokemon-header {
  padding: 0 10px;
  font-family: 'Lilita One', cursive;
}

.pokemon-img {
  width: 50%;
  max-width: 200px;
}

.pokemon-name {
  margin-top: 0;
  font-size: 1.2rem;
}

.abilities-header, .types-header {
  padding-left: 0;
  margin: 0;
}

.abilities-container, .types-container {
  text-align: left;
  padding: 0 30px 15px 30px;
}
.button-container {
  padding-bottom: 5px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 2px 10px;
  background-color: #e8e8e1;
}

.btn:hover{
  background-color: #de3519;
  cursor: pointer;
}