.dashboard-container {
  height: 100vh;
  text-align: center;
}

.main-container {
  border: 6px solid #de3519;
  border-radius: 15px;
  height: 75%;
  margin: 0 60px;
  display: flex;
  background-color: #eee8e76d;
  margin-bottom: 60px;
}

.username-container {
  padding-top: 15px;
}

.username-label {
  margin-right: 10px;
}

.welcome-msg {
  margin: 0 15px 10px 15px;
  padding-top: 10px;
  font-family: 'Lilita One', cursive;
}


@media (max-width: 600px) {

  .main-container {
    border: 6px solid #de3519;
    border-radius: 15px;
    height: auto;
    margin: 0 60px 50px 60px;
    display: flex;
    flex-direction: column;
    background-color: hsla(9, 17%, 92%, 0.427);
  }
  
}