body {
  margin: 0;
  background: url('../src/Components/Dashboard/background.jpg') no-repeat fixed center;
  background-size: cover;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5rem;
}


@media (max-width: 600px) {

  body {
    font-size: .9rem;
  }
  
}